<div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric" ng-repeat="column in columns">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items" class="item">
        <td class="mdl-data-table__cell--non-numeric" ng-repeat="(key, prop) in item track by key">
          {{ prop }}
        </td>
      </tr>
    </tbody>
  </table>
</div>